<jsPack>
  <output filename="Build/output.js">
    <include files="Libraries/*.js" />
    <include files="TransformRepository.js" />
    <include files="Pack.js" />
    <include files="Path.js" />
    <include files="utils.js" />
    <include files="FileList.js" />
    <include files="Output.js" />
    <include files="resources.js" />
    <include files="commands.js" />
    <include files="setup.js" />
    <include files="Transforms/*.js" />
  </output>  
</jsPack>